.navbar-nav {
  justify-items: left;
  align-self: left;
   gap: 120px; 
}
body{
  background-color: #010018;
}
.navbarColor {
  background-color: #010018; 
}
.myimage{
  width: 350px;
  height: auto;
}

